    body{
        display: flex;
        flex-direction: column;
        background-color: #eef0dbb2;
        margin: 0px 25px 155px 25px;

    }
    .top-container{
        margin: 25px;
        /* padding-left: 10rem;
        padding-right: 10rem; */
        display: flex;
        flex-direction: row;
    
    }
.titles{
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.card-container{
    position:relative;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0px 2.5rem 0px 2.5rem;
    
    width: 15rem;
    max-width: 15rem;
    height: 15rem;
    max-height: 15rem;

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    background-color: #d1d4dd7e;
}
.response{
    position: absolute;
    top: 15.2rem;
    right: 0px;
    left: 0px;
    text-align: center;

}
.balance{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.outstanding{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btn-container{
    position: absolute;
    top: 12.5rem;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
button{
    height: 50px;
    border-radius: 8px;
    border: none;
    width: 100px;
    cursor: pointer;
}
#stock{
    text-shadow: 1px 1px 1px rgba(0,0,0,0.20);
}
#buybutton{
    width: 150px;
    background-color: rgb(65, 203, 238);
}
#loanbutton{
    width: 150px;
    background-color: rgb(53, 197, 137);
}
#loanbutton:hover{
    background-color:  rgb(39, 139, 97);
}



/* .image{
    width: 128px;
    height: 128px;
    
} */

select{
    height: 35px;
    padding: 0 5px 0 5px;
}

.specs{
    padding: 0.5rem 1rem 0.5rem 1rem;
    /* margin: 0px 2.5rem 0px 2.5rem; */
    border-radius: 10px;
    width: 40rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #d1d4dd3a;

}.computerinfo{
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0px 2.5rem 0px 2.5rem;
}

.img-container{
    position: absolute;
    top: 15%;
    right: -80%;
}
img{
    width: 400px;
    border-radius: 10px;
    border: 10px solid #d1d4dd3a;
}
.price-container{
    display: flex;
    flex-direction: row;
}
p{
    margin-right: 5px;
}
h1{
    margin-left: 70px;
    font-family: fantasy;
    font-size: 50px;
}